.actions {
    text-align: center;
}
.items {
    display: inline-block;
    width:initial;
}

.itemsPPage {
    text-align: right;
    margin-bottom: 10px;
}

.page-header {
    text-align: center;
}

.tbl-content {
    width: 40%;
}

.tbl-f {
    width: 20%;
}

.table-bordered>tbody>tr>td,
.table-bordered>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.sidebar {
    margin-top: 20px;
}

.mtop {
    margin-top: 10px;
    margin-bottom: 10px;
}